<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.CrdlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Crdl">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="nowdate" property="nowdate" />
        <result column="updatetime" property="updatetime" />
        <result column="phone" property="phone" />
        <result column="dictid" property="dictid" />
        <result column="dictname" property="dictname" />
        <result column="price1" property="price1" />
        <result column="price2" property="price2" />
        <result column="price3" property="price3" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, nowdate, updatetime, phone, dictid, dictname, price1, price2, price3, status
    </sql>

</mapper>
